@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: black;
    font-family: montserrat;
    font-size: 20px;
}

.paragrafo{
    color: white;
    text-align: center;
}

.gradiente1{
    font-size: 20px;
    background-image: linear-gradient(to right, rgb(73, 72, 72), white);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    margin-top: 70px;
    font-size: 70px;
}

.gradiente{
    font-size: 20px;
    background-image: linear-gradient(to right, #860EFF, #4482FD, #3D299F);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.p1{
    margin: 30px 0 5px 0;
    font-size: 16px;
}

.p2{
    margin: 200px 0 5px 0;
    font-size: 20px;
}

.caixa{
    position: relative;

}

.caixa nav{
    right: 0px;
    text-align: end;
    margin: -53px 40px;
    position: absolute;
}

.logo{
    margin: 20px 0 0 25px ;
    
}

h1{
    text-align: center;
}

.botaoex {
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 8px 20px;
    margin-right: 35px;
    border: solid 1px;
    transition: 1s;
    transform: scale(1);
}

.botaoex:hover {
   transition: 1s;
   transform: scale(1.1);
}

.botaologin {
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 8px 20px;
    margin-right: 35px;
    border: solid 1px;
    transition: 1s;
    transform: scale(1);
}

.botaologin:hover {
    transition: 1s;
    transform: scale(1.1);
 }
 

.concreto{
    position: relative;
    margin: 0 0 50px 0;
}

.gradiente2{
    font-size: 20px;
    background-image: linear-gradient(to right, #860EFF, #4482FD, #3D299F);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.temas{
    text-align: center;
    margin: 25px 0 0 93px;
}

.imgtema1{
    margin-right: 20px;
    transition: 1s;
    transform: translateX(0) scale(0.8);
    filter:saturate(75%);
    filter: blur(5px);
}

.imgtema1:hover {    
    transition: 1s;
    animation-duration: 1s;
    transform: scale(1);
    filter:saturate(100%);
    filter: blur(0px);
}

.imgtema2{
    margin-right: 20px;
    transition: 1s;
    transform: translateX(0) scale(0.8);
    filter:saturate(75%);
}

.imgtema2:hover {    
    transition: 1s;
    animation-duration: 1s;
    transform: scale(1.08);
    filter:saturate(100%);
}

.imgtema3{
    margin-right: 20px;
    transition: 1s;
    transform: translateX(0) scale(0.8);
    filter:saturate(50%);
    filter: blur(5px);
}

.imgtema3:hover {    
    transition: 1s;

    transform: scale(1);
    filter:saturate(100%);
    filter: blur(0px);

}

.botao_ex{
    padding: 3px 25px;
    font-size: 30px;
    color: white;
    background-color: black;
    border: solid 3px;
    border-image: linear-gradient(to right, #860EFF, #4482FD, #860EFF) 1;
    transform: scale(1);

}

.botao_ex:hover {
    transition: 1s;
    transform: scale(1.10);
 }

.explorar {
    margin: 80px 0 0 0;
    text-align: center;
}

footer {
    font-family: montserrat;
	background-color: #000000;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul{
    
	list-style: none;
	padding: 0;
	margin: 0;
}

li{
	display: inline-block;
	margin: 0 10px;
}

a{
	color: #fff;
	text-decoration: none;
}